.sidebar {
    height: 60px;
}

.sidebar.open {

    background-color: blue;
    width: 200px;
    max-height: 100%;
}

.background {
    background-color: #b21232;


}

.nav {
    display: flex;
    flex-direction: column;

}

.nav a {
}

.nav a:hover {
}

.nav a.active {
}

.close {

}

.close img {
}
